/*
 * FONT WEIGHT
 */
$font-light: 300;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

/*
 * COLOR
 */
$text-color: #424242;
$color-dark-black: #1C2C34;
$color-dark-orange: #D9543D;
$color-red: #F84C4C;
$color-light-gray: #79797a;
$color-light-gray2: #6D6D6D;
$color-light-gray3: #3d3d3d;
