<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free restaurants catalogue for you" />
    <meta name="theme-color" content="#D9543D" />
    <link rel="icon" type="image/svg+xml" href="./images/logo.svg" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Ngemilkuy.</title>
  </head>
  <body>
    <a href="#/main-content" class="skip-link">Skip to content</a>
    <header id="app-bar" class="app-bar">
      <div class="app-bar__logo">
        <img src="./images/logo.svg" alt="logo brand" />
        <div class="logo">Ngemil<span>Kuy.</span></div>
      </div>
      <button
        type="button"
        id="btn-toggle"
        class="app-bar__nav-toggle"
        aria-label="toggle nav button"
      >
        <span>&#9776;</span>
      </button>
      <nav id="nav-menu" class="app-bar__nav">
        <button
          type="button"
          id="btn-cancel"
          class="app-bar__nav-cancel"
          aria-label="close nav button"
        >
          <span>&#10006;</span>
        </button>
        <ul class="app-bar__nav-menus">
          <li class="nav-item"><a href="#/">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item">
            <a
              href="https://github.com/iqballa24"
              target="_blank"
              rel="noopener"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <loader-bar></loader-bar>
    <toast-bar></toast-bar>
    <main id="main-content" tabindex="-1"></main>
    <footer class="footer">
      <div class="footer-section__info">
        <div class="info-brand">
          <div class="logo" tabindex="0">Ngemil<span>Kuy.</span></div>
          <p tabindex="0">
            NgemilKuy is a website providing information about all restaurants
            in Indonesia
          </p>
          <span
            >Illustration by
            <a
              href="https://icons8.com/"
              style="color: white"
              target="_blank"
              rel="noopener"
              >icons8.com</a
            >
            &
            <a
              href="https://www.freepik.com/"
              style="color: white"
              target="_blank"
              rel="noopener"
              >freepik.com</a
            ></span
          >
        </div>
        <div class="info-contact">
          <h2>Getting touch</h2>
          <ul>
            <li>support@ngemilkuy.com</li>
            <li>021 - 2245 - 5509</li>
            <li>NgemilKuy, Jakarta</li>
          </ul>
        </div>
      </div>
      <p class="footer-section__copyright">
        Copyright ©2022 NgemilKuy. All rights reserved.
      </p>
    </footer>
  </body>
</html>
