not-found {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-dark-black;
  gap: 2rem;

  img{
    width: 100%;
    max-width: 400px;
  }
}
