reviews-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;

  reviews-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom: 1px solid rgba(145, 144, 144, 0.501);
    border-width: thin;
    @include padding-y(2rem);
    @include padding-x(1rem);

    @include media-breakpoint-up(md) {
      @include padding-x(3rem);
    }

    .reviews-item__name {
      font-weight: 700;
    }
  }
}
